<div class="row">
  <div class="col-6 m-auto">
    <h1>Add new flat</h1>
    <%= simple_form_for @flat do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :picture_url %> <!-- Add picture-url to the schema -->
      <%= f.input :description %>
      <%= f.input :price_per_night %>
      <%= f.input :number_of_guests %>
      <%= f.submit "Create Flat", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
